@font-face {
  font-family: 'Vazirmatn';
  src: url('../assets/font/vazirmatn-v33.003/Vazirmatn-RD[wght].woff2') format('woff2 supports variations'),
       url('../assets/font/vazirmatn-v33.003/Vazirmatn-RD[wght].woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}